<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>springbootEdu</contextName>
    <springProperty scope="context" name="appname" source="logback.appname"/>
    <springProperty scope="context" name="logdir" source="logback.logdir"/>


    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </pattern>
        </layout>
    </appender>
    
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/dev.${appname}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logdir}/dev.${appname}%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>2</maxHistory>
            
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!--日志输出编码格式化-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>


    <!--指定最基础的日志输出级别-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
    </root>
    
    
    
    <springProfile name="dev">
        
        <logger name="com.hpedu" level="info"  addtivity="false">
            <appender-ref ref="fileInfoLog" />
        </logger>

    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.hpedu" level="error"  addtivity="false">
            <appender-ref ref="fileInfoLog" />
        </logger>
    </springProfile>

   
</configuration>