<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
		 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
 		<property name="dialect" value="mysql" />
	</properties>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		
<!-- 	<setting name="defaultExecutorType" value="BATCH" />  -->

		<setting name="defaultExecutorType" value="SIMPLE" /> 
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<!-- 自定义分页插件.-->
	<!--<plugins>
		<plugin interceptor="com.hpedu.interceptor.PageHelper"></plugin>
	</plugins>-->

	<!--网上找的分页插件-->
	<!--<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql"/>
		</plugin>
	</plugins>-->

<!--
	元素类型为 "configuration" 的内容必须匹配
	"(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,
	objectWrapperFactory?,reflectorFactory?,plugins?,environments?,
	databaseIdProvider?,mappers?)"
-->


</configuration> 
