<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
   
</head>
<body>

<!--
<div id="app">
    {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>
-->
<div id="app-7">
    <ol>
        <!--
          现在我们为每个 todo-item 提供 todo 对象
          todo 对象是变量，即其内容可以是动态的。
          我们也需要为每个组件提供一个“key”，稍后再
          作详细解释。
        --> 
        <todo-item
                v-for="each in groceryList"
                v-bind:todo="each"
                v-bind:key="each.id">
        </todo-item>
    </ol>
</div>


<div class="wrapper" id="rrapp" v-cloak>


    <ul class="sidebar-menu">
        <li class="header">导航菜单</li>

        <!-- vue生成的菜单 -->
        <menu-item 
                v-for="each in menuList" 
                v-bind:item="each">
        </menu-item>
    </ul>

</div>


<!---->
<div><button onclick="trans()" >DOWNLOAD</button> </div>
<div id="unitTest_div" style="">
    <div style="width:100%;background:#BDBDBD;font-weight:bold;padding:10px;text-align:left;">
        <ul>
            <li>测试项目：计算——繁分数的运算,试题：4,分值：100</li>
            <li>&nbsp;</li>
            <li>说明：
                <input type="hidden" id="isHasJDT" value="1">
                <input type="hidden" id="nums_hide" value="4">
                <input type="hidden" id="scores_hide" value="100">
            </li>
            <li style="color:#CE0221;">提示：选择题选项顺序为随机排列，若要核对答案，请以选项内容为准</li>
        </ul>
    </div>
    <div id="unit_testAll">
        <div style="width:100%;background:#EEEEEE;word-break:break-all;margin-top:10px;padding:5px;text-align:left;">
            <font style="font-weight:bold;"> 1.【简答题】（20分）：</font><h4>如图,</h4>
        </div>
        <div style="width:100%;margin-top:5px;">
            <img src="/examImg/b68c6e795af54e239c7c8a386bb312fb.PNG">
        </div>
        <div style="width: 100%; margin-top: 5px;" id="hideDiv_16974bae2b6747f6bf2d6bdc08f71acf">
            <p style="width:100%;word-break:break-all;font-weight:bold;font-size:16px;">【考点】：繁分数计算</p>
            <p style="font-size:16px;width:100%;word-break:break-all;"><b>【详解】：</b>从最短的分数线算起，注意如果是多少分之一就等于1÷分母位置上的数，最终答案为18/85.</p>
        </div>
        <div style="width:100%;word-break:break-all;margin-top:5px;">
            <textarea class="input" name="JDT_answer" id="JDT_16974bae2b6747f6bf2d6bdc08f71acf"  style="width:600px;height:120px;" placeholder="答题区"></textarea>
        </div>
        <div style="width:100%;background:#EEEEEE;word-break:break-all;margin-top:10px;padding:5px;text-align:left;">
            <font style="font-weight:bold;"> 2.【简答题】（30分）：</font><h4>如图,</h4>
        </div>
        <div style="width:100%;margin-top:5px;"><img src="/examImg/3672971b44654c92882aa8fb839429f0.PNG"></div>
        <div style="width: 100%; margin-top: 5px;" id="hideDiv_8ad24c99655a432797e9f0656d1297e6">
            <p style="width:100%;word-break:break-all;font-weight:bold;font-size:16px;">【考点】：繁分数计算</p>
            <p style="font-size:16px;width:100%;word-break:break-all;"><b>【详解】：</b>对最长的分数线上下分别计算，上面算完得5/2，下面算完得4/7，所以最终只需用5/2除以4/7，等于35/8.</p>
        </div>
        <div style="width:100%;word-break:break-all;margin-top:5px;">
            <textarea class="input" name="JDT_answer"  id="JDT_8ad24c99655a432797e9f0656d1297e6" style="width:600px;height:120px;" placeholder="答题区"></textarea>
        </div>
        <div style="text-align: left;" id="more_div">
            <div style="width:100%;background:#EEEEEE;word-break:break-all;margin-top:10px;padding:5px;text-align:left;">
                <font style="font-weight:bold;"> 3.【简答题】（20分）：</font><h4>如图,</h4>
            </div>
            <div style="width:100%;margin-top:5px;"><img src="/examImg/5d2ee7a9354946c985e2190ac32f1905.PNG"></div>
            <div style="width: 100%; margin-top: 5px;" id="hideDiv_7d99cb8fdddc4c0bada19ccdf85c8b7b">
                <p style="width:100%;word-break:break-all;font-weight:bold;font-size:16px;">【考点】：繁分数运算</p>
                <p style="font-size:16px;width:100%;word-break:break-all;"><b>【详解】：</b>从最短的分数线求起，答案为12/29</p>
            </div>
            <div style="width:100%;word-break:break-all;margin-top:5px;">
                <textarea class="input" name="JDT_answer"  id="JDT_7d99cb8fdddc4c0bada19ccdf85c8b7b"  style="width:600px;height:120px;" placeholder="答题区"></textarea>
            </div>
            <div style="width:100%;background:#EEEEEE;word-break:break-all;margin-top:10px;padding:5px;text-align:left;">
                <font style="font-weight:bold;"> 4.【简答题】（30分）：</font><h4>如图,</h4></div>
            <div style="width:100%;margin-top:5px;"><img src="/examImg/922fc8d08eeb4e2aac8da6018e8fefc9.PNG"></div>
            <div style="width: 100%; margin-top: 5px;" id="hideDiv_309339782074482590e2fb9e21188783">
                <p style="width:100%;word-break:break-all;font-weight:bold;font-size:16px;">【考点】：繁分数运算</p>
                <p style="font-size:16px;width:100%;word-break:break-all;"><b>【详解】：</b>本题与之前的题目不同之处在于并非要求计算，而是求x的值。我们可以采用逆向思维，根据最终结果反推每次的分母部分等于多少。最开始的分母（整个式子）等于11/8，然后用11/8减去1=3/8，以此类推求出x=5/4.
                </p>
            </div>
            <div style="width:100%;word-break:break-all;margin-top:5px;">
                <textarea class="input" name="JDT_answer"  id="JDT_309339782074482590e2fb9e21188783" style="width:600px;height:120px;" placeholder="答题区"></textarea>
            </div>
            <div style="width:100%;padding:10px;text-align:left;">
                <input type="button" class="btn btn-primary" value="提交打分" id="submitAnswer_btn" onclick="submitAnswer()" disabled="disabled">
                <input type="button" class="btn btn-primary" value="重新做题" onclick="redo()">
                <h4 style="" id="result_tests">
                    <i style="color:green;font-weight:bold;">简答题已提交，等待老师打分。查看方式：个人信息-编辑|查看-历史分数</i>
                </h4>
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="隐藏" onclick="slideDown_div2(this)">
    </div>
</div>
<script type="text/javascript" src="libs/jspdf.debug.js"  charset="utf-8"></script>
<script type="text/javascript" src="libs/html2canvas.js"  charset="utf-8"></script>
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/router.js"></script>
<script type="text/javascript" src="/vue.min.js"></script>
<script type="text/javascript" src="/vue-validator.min.js"></script>
<script type="text/javascript" src="/index.js"></script>
<script type="text/javascript">

    function trans(){
        html2canvas(document.getElementById("unitTest_div"), {
            onrendered:function(canvas) {

                var contentWidth = canvas.width;
                var contentHeight = canvas.height;

                //一页pdf显示html页面生成的canvas高度;
                var pageHeight = contentWidth / 592.28 * 841.89;
                //未生成pdf的html页面高度
                var leftHeight = contentHeight;
                //页面偏移
                var position = 0;
                //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
                var imgWidth = 595.28;
                var imgHeight = 592.28/contentWidth * contentHeight;

                var pageData = canvas.toDataURL('image/jpeg', 1.0);

                var pdf = new jsPDF('', 'pt', 'a4');

                //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                //当内容未超过pdf一页显示的范围，无需分页
                if (leftHeight < pageHeight) {
                    pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight );
                } else {
                    while(leftHeight > 0) {
                        pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                        leftHeight -= pageHeight;
                        position -= 841.89;
                        //避免添加空白页
                        if(leftHeight > 0) {
                            pdf.addPage();
                        }
                    }
                }

                pdf.save('content.pdf');
            }
        })

    }
    
    
    
    // 定义名为 todo-item 的新组件
    Vue.component('todo-item', {
        // todo-item 组件现在接受一个
        // "prop"，类似于一个自定义特性。
        // 这个 prop 名为 todo。
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })
    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                {id: 0, text: '蔬菜'},
                {id: 1, text: '奶酪'},
                {id: 2, text: '随便其它什么人吃的东西'}
            ]
        }
    })

    




    /* var app6 = new Vue({
         el: '#app-6',
         data: {
             message: 'Hello Vue!'
         }
     })
 
 
     var app5 = new Vue({
         el: '#app-5',
         data: {
             message: 'Hello Vue.js!'
         },
         methods: {
             reverseMessage: function () {
                 this.message = this.message.split('').reverse().join('')
             }
         }
     })
     var app4 = new Vue({
         el: '#app-4',
         data: {
             todos: [
                 { text: '学习 JavaScript' },
                 { text: '学习 Vue' },
                 { text: '整个牛项目' }
             ]
         }
     })
     var app = new Vue({
         el: '#app',
         data: {
             message: 'Hello Vue!'
         }
     })
     var app2 = new Vue({
         el: '#app-2',
         data: {
             message: '页面加载于 ' + new Date().toLocaleString()
         }
     })
     var app3 = new Vue({
         el: '#app-3',
         data: {
             seen: true
         }
     })*/

</script>

</body>
</html>